# Database Configuration (Used by both Go and Docker)
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=notification_db
DB_PORT=5432

# Application Configuration
APP_PORT=8080

# Redis Configuration
REDIS_ADDR=localhost:6379
ASYNQMON_PORT=8081
