DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5433/todo_db?schema=public"
PORT=3000
NODE_ENV="development"
JWT_ACCESS_SECRET="your_super_secret_access_key"
JWT_REFRESH_SECRET="your_super_secret_refresh_key"
